### Pandas = Python + Excel

#### 10min to Pandas : https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

* Object Creation
* Viewing Data
* Selection
* Missing Data
* Operations
* Merge
* Grouping
* Reshaping
* Time Series
* Categoricals
* Plotting
* Getting Data In/Out

#### 1. Data structures
* Series (1-dimensional)
* DataFrame (2-dimensional)

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

#### Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -0.347171 -0.268023  0.658696 -0.052019
2013-01-02 -1.237854  0.313400  0.992609 -0.152621
2013-01-03  0.053751  2.063090 -0.032638  0.672018
2013-01-04 -0.118475  0.542019  1.056399 -0.341198
2013-01-05 -0.642664  1.034353  0.559440  0.143859
2013-01-06 -0.316181 -0.087659  1.353946  0.232816

#### Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [8]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo