In [2]:
import os
import pandas as pd
import numpy as np
import datetime

In [5]:
rebalData =  pd.read_excel('190619.xlsx') # 전체 리밸런싱 스케줄 불러오기
priceData = pd.read_excel('PE Ratio_190530.xlsx', sheet_name='P')  # 전체 가격 데이터 불러오기

In [4]:
rebalData.head()

        date     code    weight
0 2001-02-28  A000700  0.033333
1 2001-02-28  A001440  0.033333
2 2001-02-28  A025830  0.033333
3 2001-02-28  A011200  0.033333
4 2001-02-28  A003030  0.033333

In [6]:
priceData.head()

,Refresh,Last Update : 2019-05-30 14:37:20,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1188,Unnamed: 1189,Unnamed: 1190,Unnamed: 1191,Unnamed: 1192,Unnamed: 1193,Unnamed: 1194,Unnamed: 1195,Unnamed: 1196,Unnamed: 1197
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Time Series (Company),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Frequency,M,Ascending,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Period(From),19990101,Korean,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Period(To),CPD [20190530],NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def data_cleansing_quantiwise(rawData):
    '''Quantiwise 제공 시계열데이터 클렌징 용도
    - 열 : 종목명
    - 행 : 시계열
    '''    
    firmCode = rawData.iloc[6, 1:].values
    dateIndex = rawData.iloc[13:, 0].values
    newData = rawData.iloc[13:,1:]
    newData.columns = firmCode
    newData.index = dateIndex
    return newData

In [8]:
priceData = data_cleansing_quantiwise(priceData)
priceData.head()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A300720,A306200,A307950,A316140,A900030,A900050,A900140,A950010,A950070,A950100
1999-01-29,5823,2640,8700,16333,1413,1076,13933,4500,NaN,14755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-26,4570,2219,8200,12737,1298,1076,11557,3360,NaN,13625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-31,6140,2521,12000,12287,1406,1525,16526,3830,NaN,15608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-30,7000,3116,10300,13186,1867,1819,21926,5700,NaN,16802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-31,6260,3399,7750,14685,1961,1664,24410,4750,NaN,19147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
rebalDate = list(set(rebalData.date.values))
rebalDate.sort()
aaaa = priceData.loc[(rebalDate),:]
aaaa

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A300720,A306200,A307950,A316140,A900030,A900050,A900140,A950010,A950070,A950100
2001-02-28,2545,1661,865,7792,1889,316,11557,3100,NaN,22286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-05-31,2685,1926,865,9141,1817,558,15553,4000,NaN,25596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-08-31,2220,1500,865,9740,1593,413,14219,3600,NaN,34036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-11-30,3330,1940,865,7792,1608,646,16533,3330,NaN,34146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-28,5720,2040,865,4600,1860,1393,27445,3500,NaN,34856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-05-31,6100,1592,NaN,4713,1957,1184,20446,3900,NaN,33815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-08-30,5660,1486,NaN,4713,1931,1099,22595,3900,NaN,30694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-29,4725,1390,NaN,5559,1950,1169,23863,3240,NaN,30752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-02-28,3675,1314,NaN,4675,1836,964,18572,NaN,NaN,30291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-05-30,3860,1520,NaN,1738,2144,1087,22761,NaN,NaN,34653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-08-29,3850,1638,NaN,1056,2250,1262,20722,NaN,NaN,40166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-11-28,3340,1356,NaN,1678,3030,1122,21493,NaN,NaN,37561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-27,4140,1394,NaN,787,3372,1544,22155,NaN,NaN,45056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-31,2520,1312,NaN,719,3961,1215,20446,NaN,NaN,43723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-08-31,NaN,1380,NaN,847,3611,1142,23477,NaN,NaN,43342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-11-30,NaN,1754,NaN,562,3870,1293,39680,NaN,NaN,60603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-28,NaN,2560,NaN,764,4143,1505,42987,NaN,NaN,66874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-31,NaN,2760,NaN,787,4942,1532,40286,NaN,NaN,64412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-08-31,NaN,2990,NaN,1064,4972,2063,42215,NaN,NaN,83176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-11-30,NaN,4600,NaN,1386,7906,3336,54284,NaN,NaN,125430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-28,NaN,3440,NaN,2270,9693,3715,59410,NaN,NaN,120946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-31,NaN,5500,NaN,1326,10643,4450,61945,NaN,NaN,101079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-08-31,NaN,6320,NaN,1349,9807,4373,57205,NaN,NaN,104216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-11-30,NaN,5640,NaN,1131,10073,5147,68007,NaN,NaN,125478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-02-28,NaN,5600,NaN,1191,12012,5341,58858,NaN,NaN,109644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-05-31,NaN,11240,NaN,1671,11708,7229,77155,NaN,NaN,123166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-08-31,NaN,14500,NaN,2218,20906,8356,80572,NaN,NaN,149846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-30,NaN,12180,NaN,1259,14558,10289,61504,NaN,NaN,145826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4483,NaN,NaN
2008-02-29,NaN,10140,NaN,1259,11365,8330,53755,NaN,NaN,143532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2442,NaN,NaN
2008-05-30,NaN,12080,NaN,922,11403,9349,57339,NaN,NaN,153866,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2230,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-02-29,NaN,4680,NaN,1185,9047,12550,73400,25000,NaN,104957,...,NaN,NaN,NaN,NaN,638,4860,8484,1790,4165,NaN
2012-05-31,NaN,4990,NaN,916,6652,11700,52500,20500,NaN,101444,...,NaN,NaN,NaN,NaN,510,3655,10510,1290,4165,5480
2012-08-31,NaN,5500,NaN,830,7496,12600,56500,22300,NaN,117693,...,NaN,NaN,NaN,NaN,510,3900,13212,1500,4165,6950
2012-11-30,NaN,6250,NaN,772,7906,13100,73600,30200,NaN,148872,...,NaN,NaN,NaN,NaN,NaN,3095,16588,1585,4165,9670
2013-02-28,NaN,6030,NaN,698,8220,11600,69400,34100,NaN,156777,...,NaN,NaN,NaN,NaN,NaN,3690,18798,1510,4165,10300
2013-05-31,NaN,6930,NaN,727,12425,13200,88000,31800,NaN,162925,...,NaN,NaN,NaN,NaN,NaN,3535,28352,1455,4165,13700
2013-08-30,NaN,6210,NaN,779,11788,12800,85100,25150,NaN,172147,...,NaN,NaN,NaN,NaN,NaN,3050,26715,1365,4165,15450
2013-11-29,NaN,5000,NaN,679,9740,14800,86500,25350,NaN,165121,...,NaN,NaN,NaN,NaN,NaN,4295,26185,1425,NaN,12500
2014-02-28,NaN,5190,NaN,863,11900,15050,73300,23500,NaN,173465,...,NaN,NaN,NaN,NaN,NaN,3710,23900,1315,NaN,12700
2014-05-30,NaN,5780,NaN,1648,12100,12750,72400,21600,NaN,155021,...,NaN,NaN,NaN,NaN,NaN,2480,23666,791,NaN,13450
2014-08-29,NaN,5170,NaN,1274,17900,13700,83600,23100,NaN,151946,...,NaN,NaN,NaN,NaN,NaN,1210,17855,1035,NaN,18000
2014-11-28,NaN,5790,10700,1488,18900,12150,88800,25250,NaN,152825,...,NaN,NaN,NaN,NaN,NaN,4555,16449,690,NaN,17900
2015-02-27,NaN,6250,9480,2038,17100,13100,90400,22850,NaN,150190,...,NaN,NaN,NaN,NaN,NaN,4760,17480,690,NaN,NaN
2015-05-29,NaN,9370,10500,1686,24300,14550,108000,21400,NaN,234507,...,NaN,NaN,NaN,NaN,NaN,3745,20198,690,NaN,NaN
2015-08-31,NaN,7100,9120,1566,20950,15450,179000,22100,NaN,218258,...,NaN,NaN,NaN,NaN,NaN,3690,16824,690,NaN,NaN
2015-11-30,NaN,7750,9490,1488,18950,15000,159000,24150,NaN,243290,...,NaN,NaN,NaN,NaN,NaN,4895,11481,NaN,NaN,NaN
2016-02-29,NaN,7700,8710,1708,20900,15750,177000,29450,NaN,227041,...,NaN,NaN,NaN,NaN,NaN,3135,10732,NaN,NaN,NaN
2016-05-31,NaN,10500,9950,1656,16200,15850,147000,25100,NaN,278422,...,NaN,NaN,NaN,NaN,NaN,2045,8417,NaN,NaN,NaN
2016-08-31,NaN,8830,10600,1656,17100,15550,120000,21900,NaN,253390,...,NaN,NaN,NaN,NaN,NaN,1535,9213,NaN,NaN,NaN
2016-11-30,NaN,7720,12000,1289,17600,16500,122500,21750,NaN,173026,...,NaN,NaN,NaN,NaN,NaN,1450,7217,NaN,NaN,NaN
2017-02-28,NaN,8900,13300,1179,14200,15400,112500,21100,NaN,205398,...,NaN,NaN,NaN,NaN,NaN,1015,7170,NaN,NaN,NaN
2017-05-31,NaN,8990,15300,1334,16350,18800,133500,24200,NaN,229239,...,NaN,NaN,NaN,NaN,NaN,1000,6383,NaN,NaN,NaN
2017-08-31,NaN,9050,18600,1016,14650,25300,107000,26100,NaN,207232,...,NaN,NaN,NaN,NaN,NaN,1000,5267,NaN,NaN,NaN
2017-11-30,NaN,10300,16200,520,13650,25700,102500,23700,NaN,201730,...,NaN,NaN,NaN,NaN,NaN,NaN,4335,NaN,NaN,NaN
2018-02-28,NaN,11400,16600,561,14050,22850,111500,22000,NaN,199038,...,NaN,NaN,NaN,NaN,NaN,NaN,4386,NaN,NaN,NaN
2018-05-31,NaN,11450,15300,722,13050,20500,114500,20150,NaN,227746,...,NaN,NaN,NaN,NaN,NaN,NaN,4311,NaN,NaN,NaN
2018-08-31,NaN,11600,16300,587,13750,18250,102000,16800,NaN,228703,...,151500,NaN,NaN,NaN,NaN,NaN,3716,NaN,NaN,NaN
2018-11-30,NaN,9110,15650,512,11250,21200,87500,17500,NaN,217698,...,132000,62700,NaN,NaN,NaN,NaN,2329,NaN,NaN,NaN
2019-02-28,NaN,9800,NaN,507,11250,22100,84300,17700,NaN,260500,...,143000,64500,NaN,14800,NaN,NaN,2820,NaN,NaN,NaN
2019-05-29,NaN,9310,NaN,535,10500,21500,74200,20100,NaN,241500,...,131000,66200,59600,14000,NaN,NaN,2250,NaN,NaN,NaN

In [17]:
aaaa.pct_change()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A300720,A306200,A307950,A316140,A900030,A900050,A900140,A950010,A950070,A950100
2001-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-05-31,0.055010,0.159542,0.000000,0.173126,-0.038115,0.765823,0.345764,0.290323,NaN,0.148524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-08-31,-0.173184,-0.221184,0.000000,0.065529,-0.123280,-0.259857,-0.085771,-0.100000,NaN,0.329739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-11-30,0.500000,0.293333,0.000000,-0.200000,0.009416,0.564165,0.162740,-0.075000,NaN,0.003232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-28,0.717718,0.051546,0.000000,-0.409651,0.156716,1.156347,0.660013,0.051051,NaN,0.020793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-05-31,0.066434,-0.219608,0.000000,0.024565,0.052151,-0.150036,-0.255019,0.114286,NaN,-0.029866,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-08-30,-0.072131,-0.066583,0.000000,0.000000,-0.013286,-0.071791,0.105106,0.000000,NaN,-0.092296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-29,-0.165194,-0.064603,0.000000,0.179504,0.009839,0.063694,0.056119,-0.169231,NaN,0.001890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-02-28,-0.222222,-0.054676,0.000000,-0.159021,-0.058462,-0.175364,-0.221724,0.000000,NaN,-0.014991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-05-30,0.050340,0.156773,0.000000,-0.628235,0.167756,0.127593,0.225555,0.000000,NaN,0.144003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-08-29,-0.002591,0.077632,0.000000,-0.392405,0.049440,0.160994,-0.089583,0.000000,NaN,0.159092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-11-28,-0.132468,-0.172161,0.000000,0.589015,0.346667,-0.110935,0.037207,0.000000,NaN,-0.064856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-27,0.239521,0.028024,0.000000,-0.530989,0.112871,0.376114,0.030801,0.000000,NaN,0.199542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-31,-0.391304,-0.058824,0.000000,-0.086404,0.174674,-0.213083,-0.077138,0.000000,NaN,-0.029585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-08-31,0.000000,0.051829,0.000000,0.178025,-0.088362,-0.060082,0.148244,0.000000,NaN,-0.008714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-11-30,0.000000,0.271014,0.000000,-0.336482,0.071725,0.132224,0.690165,0.000000,NaN,0.398251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-28,0.000000,0.459521,0.000000,0.359431,0.070543,0.163960,0.083342,0.000000,NaN,0.103477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-31,0.000000,0.078125,0.000000,0.030105,0.192855,0.017940,-0.062833,0.000000,NaN,-0.036816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-08-31,0.000000,0.083333,0.000000,0.351970,0.006070,0.346606,0.047883,0.000000,NaN,0.291312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-11-30,0.000000,0.538462,0.000000,0.302632,0.590105,0.617063,0.285894,0.000000,NaN,0.508007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-28,0.000000,-0.252174,0.000000,0.637807,0.226031,0.113609,0.094429,0.000000,NaN,-0.035749,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-31,0.000000,0.598837,0.000000,-0.415859,0.098009,0.197847,0.042670,0.000000,NaN,-0.164263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-08-31,0.000000,0.149091,0.000000,0.017345,-0.078549,-0.017303,-0.076519,0.000000,NaN,0.031035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-11-30,0.000000,-0.107595,0.000000,-0.161601,0.027123,0.176995,0.188830,0.000000,NaN,0.204019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-02-28,0.000000,-0.007092,0.000000,0.053050,0.192495,0.037692,-0.134530,0.000000,NaN,-0.126189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-05-31,0.000000,1.007143,0.000000,0.403023,-0.025308,0.353492,0.310867,0.000000,NaN,0.123326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-08-31,0.000000,0.290036,0.000000,0.327349,0.785617,0.155900,0.044287,0.000000,NaN,0.216618,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-30,0.000000,-0.160000,0.000000,-0.432372,-0.303645,0.231331,-0.236658,0.000000,NaN,-0.026828,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-29,0.000000,-0.167488,0.000000,0.000000,-0.219330,-0.190398,-0.125992,0.000000,NaN,-0.015731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.455275,NaN,NaN
2008-05-30,0.000000,0.191321,0.000000,-0.267673,0.003344,0.122329,0.066673,0.000000,NaN,0.071998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.086814,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-02-29,0.000000,0.085847,0.000000,0.678470,0.237112,0.063559,-0.189845,-0.166667,NaN,-0.024491,...,NaN,NaN,NaN,NaN,0.009494,0.001030,0.202211,0.292419,0.0,NaN
2012-05-31,0.000000,0.066239,0.000000,-0.227004,-0.264729,-0.067729,-0.284741,-0.180000,NaN,-0.033471,...,NaN,NaN,NaN,NaN,-0.200627,-0.247942,0.238802,-0.279330,0.0,NaN
2012-08-31,0.000000,0.102204,0.000000,-0.093886,0.126879,0.076923,0.076190,0.087805,NaN,0.160177,...,NaN,NaN,NaN,NaN,0.000000,0.067031,0.257088,0.162791,0.0,0.268248
2012-11-30,0.000000,0.136364,0.000000,-0.069880,0.054696,0.039683,0.302655,0.354260,NaN,0.264918,...,NaN,NaN,NaN,NaN,0.000000,-0.206410,0.255525,0.056667,0.0,0.391367
2013-02-28,0.000000,-0.035200,0.000000,-0.095855,0.039717,-0.114504,-0.057065,0.129139,NaN,0.053099,...,NaN,NaN,NaN,NaN,0.000000,0.192246,0.133229,-0.047319,0.0,0.065150
2013-05-31,0.000000,0.149254,0.000000,0.041547,0.511557,0.137931,0.268012,-0.067449,NaN,0.039215,...,NaN,NaN,NaN,NaN,0.000000,-0.042005,0.508246,-0.036424,0.0,0.330097
2013-08-30,0.000000,-0.103896,0.000000,0.071527,-0.051268,-0.030303,-0.032955,-0.209119,NaN,0.056603,...,NaN,NaN,NaN,NaN,0.000000,-0.137199,-0.057738,-0.061856,0.0,0.127737
2013-11-29,0.000000,-0.194847,0.000000,-0.128370,-0.173736,0.156250,0.016451,0.007952,NaN,-0.040814,...,NaN,NaN,NaN,NaN,0.000000,0.408197,-0.019839,0.043956,0.0,-0.190939
2014-02-28,0.000000,0.038000,0.000000,0.270987,0.221766,0.016892,-0.152601,-0.072978,NaN,0.050533,...,NaN,NaN,NaN,NaN,0.000000,-0.136205,-0.087264,-0.077193,0.0,0.016000
2014-05-30,0.000000,0.113680,0.000000,0.909618,0.016807,-0.152824,-0.012278,-0.080851,NaN,-0.106327,...,NaN,NaN,NaN,NaN,0.000000,-0.331536,-0.009791,-0.398479,0.0,0.059055
2014-08-29,0.000000,-0.105536,0.000000,-0.226942,0.479339,0.074510,0.154696,0.069444,NaN,-0.019836,...,NaN,NaN,NaN,NaN,0.000000,-0.512097,-0.245542,0.308470,0.0,0.338290
2014-11-28,0.000000,0.119923,11.369942,0.167975,0.055866,-0.113139,0.062201,0.093074,NaN,0.005785,...,NaN,NaN,NaN,NaN,0.000000,2.764463,-0.078745,-0.333333,0.0,-0.005556
2015-02-27,0.000000,0.079447,-0.114019,0.369624,-0.095238,0.078189,0.018018,-0.095050,NaN,-0.017242,...,NaN,NaN,NaN,NaN,0.000000,0.045005,0.062679,0.000000,0.0,0.000000
2015-05-29,0.000000,0.499200,0.107595,-0.172718,0.421053,0.110687,0.194690,-0.063457,NaN,0.561402,...,NaN,NaN,NaN,NaN,0.000000,-0.213235,0.155492,0.000000,0.0,0.000000
2015-08-31,0.000000,-0.242263,-0.131429,-0.071174,-0.137860,0.061856,0.657407,0.032710,NaN,-0.069290,...,NaN,NaN,NaN,NaN,0.000000,-0.014686,-0.167046,0.000000,0.0,0.000000
2015-11-30,0.000000,0.091549,0.040570,-0.049808,-0.095465,-0.029126,-0.111732,0.092760,NaN,0.114690,...,NaN,NaN,NaN,NaN,0.000000,0.326558,-0.317582,0.000000,0.0,0.000000
2016-02-29,0.000000,-0.006452,-0.082192,0.147849,0.102902,0.050000,0.113208,0.219462,NaN,-0.066789,...,NaN,NaN,NaN,NaN,0.000000,-0.359551,-0.065238,0.000000,0.0,0.000000
2016-05-31,0.000000,0.363636,0.142365,-0.030445,-0.224880,0.006349,-0.169492,-0.147708,NaN,0.226307,...,NaN,NaN,NaN,NaN,0.000000,-0.347687,-0.215710,0.000000,0.0,0.000000
2016-08-31,0.000000,-0.159048,0.065327,0.000000,0.055556,-0.018927,-0.183673,-0.127490,NaN,-0.089907,...,NaN,NaN,NaN,NaN,0.000000,-0.249389,0.094571,0.000000,0.0,0.000000
2016-11-30,0.000000,-0.125708,0.132075,-0.221618,0.029240,0.061093,0.020833,-0.006849,NaN,-0.317155,...,NaN,NaN,NaN,NaN,0.000000,-0.055375,-0.216650,0.000000,0.0,0.000000
2017-02-28,0.000000,0.152850,0.108333,-0.085337,-0.193182,-0.066667,-0.081633,-0.029885,NaN,0.187093,...,NaN,NaN,NaN,NaN,0.000000,-0.300000,-0.006512,0.000000,0.0,0.000000
2017-05-31,0.000000,0.010112,0.150376,0.131467,0.151408,0.220779,0.186667,0.146919,NaN,0.116072,...,NaN,NaN,NaN,NaN,0.000000,-0.014778,-0.109763,0.000000,0.0,0.000000
2017-08-31,0.000000,0.006674,0.215686,-0.238381,-0.103976,0.345745,-0.198502,0.078512,NaN,-0.096000,...,NaN,NaN,NaN,NaN,0.000000,0.000000,-0.174839,0.000000,0.0,0.000000
2017-11-30,0.000000,0.138122,-0.129032,-0.488189,-0.068259,0.015810,-0.042056,-0.091954,NaN,-0.026550,...,NaN,NaN,NaN,NaN,0.000000,0.000000,-0.176951,0.000000,0.0,0.000000
2018-02-28,0.000000,0.106796,0.024691,0.078846,0.029304,-0.110895,0.087805,-0.071730,NaN,-0.013345,...,NaN,NaN,NaN,NaN,0.000000,0.000000,0.011765,0.000000,0.0,0.000000
2018-05-31,0.000000,0.004386,-0.078313,0.286988,-0.071174,-0.102845,0.026906,-0.084091,NaN,0.144234,...,NaN,NaN,NaN,NaN,0.000000,0.000000,-0.017100,0.000000,0.0,0.000000
2018-08-31,0.000000,0.013100,0.065359,-0.186981,0.053640,-0.109756,-0.109170,-0.166253,NaN,0.004202,...,NaN,NaN,NaN,NaN,0.000000,0.000000,-0.138019,0.000000,0.0,0.000000
2018-11-30,0.000000,-0.214655,-0.039877,-0.127768,-0.181818,0.161644,-0.142157,0.041667,NaN,-0.048119,...,-0.128713,NaN,NaN,NaN,0.000000,0.000000,-0.373251,0.000000,0.0,0.000000
2019-02-28,0.000000,0.075741,0.000000,-0.009766,0.000000,0.042453,-0.036571,0.011429,NaN,0.196612,...,0.083333,0.028708,NaN,NaN,0.000000,0.000000,0.210820,0.000000,0.0,0.000000
2019-05-29,0.000000,-0.050000,0.000000,0.055227,-0.066667,-0.027149,-0.119810,0.135593,NaN,-0.072937,...,-0.083916,0.026357,NaN,-0.054054,0.000000,0.000000,-0.202128,0.000000,0.0,0.000000

In [ ]:
# 가격데이터가 이미 업로드되어 있다는 전제하에 실행가능한 함수

def get_stock_price(stockCodes, date_start, date_end):
    
    
    return stock_price


def get_basket_history(stockCodes, numStock, date_start, date_end):
    basketPriceData =  get_stock_price(stockCodes, date_start, date_end).fillna(0)
    dates = basketPriceData.index
    basket_history = basketPriceData[stockCodes].values.dot(numStock)    
    basket_history = pd.DataFrame(priceHistory, index = dates)
    return basket_history

In [ ]:
dollar_inv = 100
dollar_ongoing = 100
tradeCost = 0.008
basket_history = {}
rebal_date = list(set(rebalData.date))
rebal_date.sort()
tradeCost_history = {}
turnover_history = {}
weight_history = {}
inv_money_list = [dollar_inv]   
inv_money_date = [rebal_date[0]]

In [ ]:
for i in range(len(rebal_date)-1):
   
    stock_list_i = rebalData[rebalData['date'] == rebal_date[i]].code  # 기간별 종목 리스트 
    w_ = rebalData[rebalData.date == rebal_date[i]].weight 
    
    weightData = pd.concat([stock_list_i, w_], axis = 1).set_index('code')        

    if i == 0:
        weightData['money'] = weightData['weight'] * dollar_inv  # 1기인 경우 초기 투자금으로 시작
    else:
        weightData['money'] = weightData['weight'] * dollar_ongoing # 1기 이후는 투자금의 매 기간별 마지막 시점에서의 금액 재투자            

    stock_price_ = get_stock_price(stock_list_i, rebal_date[i], rebal_date[i]).transpose()  # 해당 일자의 바스켓의 주가 추출     

    weightData = pd.merge(weightData, stock_price_, how = 'inner', left_on= weightData.index, 
                          right_on = stock_price_.index).set_index('key_0')

    weightData.columns = ['weight', 'money', 'price']
    weightData['n_stocks'] = weightData['money'] / weightData['price']

    basket_price = basket_history(weightData.index.values, weightData['n_stocks'].values, rebal_date[i], rebal_date[i+1])     

    dollar_ongoing = basket_price.iloc[-1,:].values[0]  # 투자금의 매 기간별 마지막 시점에서의 포트의 가치(금액)

    # 투자기간 마지막 시점 (다음리밸 시점과 동일) 에서의 가격
    last_price = get_stock_price(weightData.index.values, rebal_date[i+1], rebal_date[i+1]).transpose()  

    weightData = pd.merge(weightData, last_price, how = 'inner', 
                          left_on = weightData.index, right_on = last_price.index).set_index('key_0')

    weightData.columns = ['weight', 'money', 'price', 'n_stocks', 'last_price']

    weightData['last_weight'] = (weightData['last_price'] * weightData['n_stocks']) / (weightData['last_price'] * weightData['n_stocks']).sum()  # 투자기간의 마지막 시점에서의 비중         
    weightData['new_weight'] = rebalData[rebalData['date'] == rebal_date[i+1]].set_index('code')['weight']  # 새로운 비중            
    tradingCost = np.abs(weightData['new_weight'] - weightData['last_weight']).sum() * tradeCost * dollar_ongoing

    dollar_ongoing -= tradingCost     

    inv_money_list += list(basket_price.values.squeeze()[1:-1])
    inv_money_list += [dollar_ongoing]

    inv_money_date += list(basket_price.index[1:])  
    
    basket_history[rebalDate] = basket_price
    tradeCost_history[''.join([x for x in str(rebal_date[i+1])[:10] if x != '-'])] = tradingCost
    turnover_history[''.join([x for x in str(rebal_date[i+1])[:10] if x != '-'])] = tradingCost / dollar_ongoing
    weight_history[''.join([x for x in str(rebal_date[i+1])[:10] if x != '-'])] = weightData

In [ ]:
inv_money_history = pd.DataFrame(inv_money_list, index = inv_money_date)